<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="New_img/dark.png" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>안녕하세요. 저는 한국 개발자 출신이며 컴퓨터 고등학교를 재학하며 공부중인 방승호 입니다. 재학하는 과정에서 C, JAVA, HTML/CSS, JS, JSP, PHP등을 사용해 개발중이며 이중 JS를 이용한 "자기 소개 페이지", HTML/CSS를 이용한 "애완견 분양 사이트"가 있습니다.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
